# Binaries
/bin/
/ephem
/ephem-api
/ephem-agent

# Local credentials & configs
.env
.env.*
!.env.example
.ephem/

# Go files
*.out
*.test
*.prof

# IDE and OS files
.idea/
.vscode/
.DS_Store

# Ephemeral SSH CA keys
/ssh_ca.key
/ssh_ca.pub

# MTLS certs and runtime configs
/certs/
/agent_config.json